*{
  box-sizing: border-box;
}
body{
  background-color: rgba(44, 51, 59);
  margin: 0;
  padding: 0;
}
.principal{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;


  height: 100vh;
  background-image: url(/src/img/BANNER-WAVES_1-min.gif);
  background-attachment: fixed;
}
.textprincipal{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 5px;
  margin: 2px;

  color: rgba(161, 176, 207);
}
hr{
  width: 35vh;
  opacity: 20%;
}
.textsubprincipal{
  color: rgba(161, 176, 207);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  margin: 2px;
  opacity: 70%;
}
.textprincipal2 strong {
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  
  color: rgba(161, 176, 207); 
}
.habilidades{
  background-color: #1d2d47;
  transition: all .4s;
}
.sub-div{
  min-height: 30vh;
  display: flex;
  justify-content: center;
}
.sub-text{
  display: block;
  color: rgba(161, 176, 207);
  
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  text-shadow:1px 1px 5px 6px #6BD4CD ;

  margin: 1vh 0vh 2vh 0vh;
}
.html{
  background-color: rgba(154, 163, 173, 0.26);
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border: 2px solid #f06524;
  border-radius: 20px;
  
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  transition: all 0.4s;
}
.html:hover{
  box-shadow: 1px 1px 10px 1px  #f06524 ;
}
.html img{
  margin-top: 20px;
  height: 25vh;
  width: 25vh;
}
.css{
  background-color: rgba(154, 163, 173, 0.26);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border-radius: 20px;
  border: 2px solid #2a65f1;
  
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
.css:hover{
  box-shadow: 1px 1px 10px 1px  #2a65f1;
}
.css img{
  margin-top: 20px;
  height: 25vh;
  width: 20vh;
}
.javascript{
  background-color: rgba(154, 163, 173, 0.26);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border-radius: 20px;
  border: 2px solid #ffde25;
   
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;

  text-align: center;
}
.javascript:hover{
  box-shadow: 1px 1px 10px 1px #ffde25 ;
}
.javascript img{
  margin-top: 20px;
  height: 25vh;
  width: 25vh;
}
.bio{
  /*Melhor forma de centralizar um elemeto*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52vh;
}

.bio-box{
  display: flex;

 
  width: 57vh;
  min-height: 40vh;
  border-radius: 10px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3px );
  -webkit-backdrop-filter: blur( 3px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.myimg img{
  border-radius: 50%;
  width: 35vh;
  margin: 0vh 2vh 0vh 2vh;
  border: 5px solid rgba(102, 51, 153, 0.288);
}
.sub-bio{
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Barlow', sans-serif;
  margin-top: 0;
  color: rgba(161, 176, 207);

}
.bio-text{
  color: rgb(255, 255, 255);
  margin: 10px;
  font-family: 'Barlow', sans-serif;
  font-weight: 200;
  font-size: 3.6vh;
}
.bio-text strong{
  color: #ffffff;
  font-size: 4vh;
  font-weight: bold;
}
footer{
  display: flex;
  width: 100%;
  min-height: 5vh;
  background: #051939;
  text-align: center;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}
footer p{
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 5px;
  color: white;
  font-family: 'Barlow', sans-serif;
  opacity: 50%;
}
.icons{
  display: flex;
  width: 100%;
  opacity: 70%;
  justify-content: center;
  padding-bottom: 5px;
  padding-top: 10px;
}
.icons a:hover{
  transform: scale(1.1);
  opacity: 100%;
  
}
@media (max-width: 600px){
  .textprincipal{
    font-size: 3rem;
  }
.sub-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.html{
  text-align: center;
}
.css{

  margin: 5vh 0;
}
.javascript{
  margin: 5vh 0 ;
}

.bio-box{
  width: 90%;
  align-content: center;
}
.bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120vh;
 
}
.sub-bio{
  margin-bottom: 10px;
}
.mybio h1{
  font-size: 1.5rem;
  text-align: left;
}

}
