*{
  box-sizing: border-box;
}
/*font-family: 'Bebas Neue', cursive;*/
body, ul{
  margin: 0;
  padding: 0;
  background-color: rgba(44, 51, 59);
  
}
p{
  margin: 0;
}
/*
a{
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}
a:hover{
  background: rgba(0, 0, 0, .05);
}
#logo{
  font-size: 1.5rem;
  font-weight: normal;
  font-family: 'Barlow', sans-serif;
}
#header{
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(28,33,39);
  
}
#menu{
  display: flex;
  font-size: 1.1rem;
  list-style: none;
  gap: .5rem;
  
}
#menu a{
  display: block;
  padding: .5rem;
  font-family: 'Barlow', sans-serif;
}
#btn-mobile{
  display: none;

}*/

.principal{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;


  height: 100vh /*calc(100vh - 70px)*/;
  width: 100%;
  background-image: url(/src/img/BANNER-WAVES_1-min.gif);
  background-attachment: fixed;
}
.textprincipal{
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 5px;

  color: rgba(161, 176, 207);
}
hr{
  width: 19%;
  opacity: 20%;
}
.textsubprincipal{
  color: rgba(161, 176, 207);
  font-family: 'Bebas Neue', cursive;
  font-size: 1.5rem;
  opacity: 70%;
}
.textprincipal2 strong {
  font-weight: bold;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
  
  color: rgba(161, 176, 207); 
}
.habilidades{
  background-color: #1d2d47;
  transition: all .4s;
}
.sub-div{
  min-height: 30vh;
  display: flex;
  justify-content: center;
}
.sub-text{
  display: block;
  color: rgba(161, 176, 207);
  
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  text-align: center;
  text-shadow:1px 1px 5px 6px #6BD4CD ;

  margin: 1vh 0vh 2vh 0vh;
}
.html{
  background-color: rgba(154, 163, 173, 0.26);
  color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border: 2px solid #f06524;
  border-radius: 20px;
  
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
  transition: all 0.4s;
}
.html:hover{
  box-shadow: 1px 1px 10px 1px  #f06524 ;
}
.html img{
  margin-top: 20px;
  height: 25vh;
  width: 25vh;
}
.css{
  background-color: rgba(154, 163, 173, 0.26);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border-radius: 20px;
  border: 2px solid #2a65f1;
  
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;
  text-align: center;
}
.css:hover{
  box-shadow: 1px 1px 10px 1px  #2a65f1;
}
.css img{
  margin-top: 20px;
  height: 25vh;
  width: 20vh;
}
.javascript{
  background-color: rgba(154, 163, 173, 0.26);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.801);
  height: 35vh;
  width: 30vh;
  margin: 3vh 5vh 5vh 5vh;
  border-radius: 20px;
  border: 2px solid #ffde25;
   
  font-family: 'Barlow', sans-serif;
  font-weight: 900;
  font-size: 1rem;

  text-align: center;
}
.javascript:hover{
  box-shadow: 1px 1px 10px 1px #ffde25 ;
}
.javascript img{
  margin-top: 20px;
  height: 25vh;
  width: 25vh;
}
.bio{
  /*Melhor forma de centralizar um elemeto*/
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52vh;
}
.bio-box{
  display: flex;

  background-color: rgba(154, 163, 173, 0.26);
  width: 70vh;
  min-height: 40vh;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
}
.myimg img{
  border-radius: 50%;
  width: 35vh;
  margin: 0vh 2vh 0vh 2vh;
  border: 5px solid rgba(102, 51, 153, 0.288);
}
.sub-bio{
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Barlow', sans-serif;
  margin-top: 0;
  color: rgba(161, 176, 207);

}
.mybio h1{
  color: RGB(169, 187, 205);
  margin: 10px;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}
footer{
  display: flex;
  width: 100%;
  min-height: 5vh;
  background: #051939;
  text-align: center;
  justify-content:center;
  align-items: center;
  flex-direction:column;
}
footer p{
  font-size: 1.2rem;
  margin: 0;
  margin-top: 5px;
  color: white;
  font-family: 'Barlow', sans-serif;
}
.icons{
  display: flex;

  justify-content: space-between
}
@media (max-width: 600px){
  .textprincipal{
    font-size: 3rem;
  }
  #btn-mobile{
    display: block;
    padding: .5rem;
  }
  #menu{
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: rgb(28,33,39);
    height: 0;
    transition: .4s;
    z-index: 1000000000;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu{
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem;
    margin: 0 .1rem;
    border-bottom: 2px solid rgba(0, 0, 0,.05);
  }
  .hamburger-menu {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    height: 5px;
    background: black;
    border-radius: 5px;
    margin: 3px 0px;
    transform-origin: left;
    transition: all 0.4s;
  }
  
  #nav.active .hamburger-menu:hover .top {
    transform: rotate(45deg);
  }
  
  #nav.active .hamburger-menu:hover .middle {
    opacity: 0;
  }
  
  #nav.active .hamburger-menu:hover .bottom {
    transform: rotate(-45deg);
}
.sub-div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.html{
  text-align: center;
}
.css{

  margin: 5vh 0;
}
.javascript{
  margin: 5vh 0 ;
}

.bio-box{
  width: 90%;
  align-content: center;
}
.bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.mybio h1{
  font-size: 1.5rem;
  text-align: center;
}

}
